{% extends 'blog/base.html' %}
{% load crispy_form_tags %}

{% block content %}
    <div class='container'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <ledgend>Join now!</ledgend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <small>
                Already have an account? <a href="#">Sign in</a>
            <small>
{% endblock content %}