{% extends 'blog/base.html' %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src= "{{ user.profile.iamge.url }}" alt="" class="image-rounded img-responsive"/>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>{{ user.username }}</h4>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>{{ user.email }}<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}