{% extends 'blog/base.html' %}

{% crispy_forms_tags %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Join Now!</legend>
                {{ form|crispy }} 
            </fieldset>
            <div class="form-group">
                <button type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <small>
                Already have an account? <a href="#">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}