{% extends 'blog/base.html' %}

{% block title %}
Business Blog
{% endblock title %}

{% block content %}
<!doctype html>
<html>
<head lang='en'>
    <title>Business Blog</title>
</head>

<section>
    <form action="" method="post">
        <p>
            Please submit your Blog :
            <input type="text" name="url">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
</section>
{% endblock content %}

{% block footer %}
{% endblock footer %}