{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Archive Blog
{% endblock title %}

{% block content %}
<div class="container">
    <section>
        <div>
            <h1>All Articles for {{ year|date:"Y" }}</h1>
            {% for obj in object_list %}
                <p>
                    <li>{{ obj.tilte }} - {{ obj.date_posted|date:"F j, Y" }}</li>
                </p>
            {% endfor %}
        </div>
    
    </section>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}